# Пути к движку теперь заданы в config.py по умолчанию,
# но вы можете переопределить их здесь:
# SCAN_PATH=scan_31/scan.exe
# SCAN_DIR=.

MOVE_TIME=0.3
DELAY_AFTER_MOVE=0.1
MAX_CONSECUTIVE_ERRORS=2
LOG_LEVEL=INFO
HEADLESS=False
TIME_THINK_THRESHOLD=8.0
THINK_TIME_MIN=0.05
THINK_TIME_MAX=0.35
FAST_MOVES_COUNT=10
URGENT_TIME_THRESHOLD=13.0
CAPTURE_DELAY_MIN=0.05
CAPTURE_DELAY_MAX=0.20
THINK_TIME_FAST_MIN=0
THINK_TIME_FAST_MAX=0