# Виртуальное окружение
venv/
.venv/
env/

# Кэш Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Логи
logs/
*.log

# Личный конфиг с секретами
.env

# Бинарники движка (если они там)
scan_31/
*.exe
*.dll

# Файлы IDE
.vscode/
.idea/
*.swp
*.swo

# Временные файлы
*.tmp
*.bak